body{
  background: var(--gradient);
    
}
:root {
  --theme: black;
  --gradient: linear-gradient(90deg, #e3ffe7 0%, #d9e7ff 100%);
}


html {
  /* background-color: var(--theme); */
  scroll-behavior: smooth;
}



#intro{
  
    display: flex;
    flex-direction: row;
    justify-content: space-around;

}
#item2{
  display: flex;
  align-items: center;
}
body, ul {
    margin: 0;
    padding: 0;
    /* background-color: var(--gradient);
 */
}

  /* Styling the top bar */
  .top-bar {
    position: sticky;
    top:0;
    left: 0;
    display: flex;
    background-color: #333;
    color: white;
    justify-content: end;
    font-size: large;
    height: 40px;
  }
  
  .top-bar ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
  }
  
  .top-bar ul li {
    display: inline;
  }
  
  .top-bar ul li a {
    display: inline-block;
    padding: 7px 13px;
    color: #fff;
    text-decoration: none;
  }
  
  .top-bar ul li a:hover {
    background-color: #555;
  }
  #photo{
    height: 450px;
    width: 400px;
    border: #333 solid 2px;
    border-radius: 50%;
  }
  #details{
    background-color: black;
    height: 100%vh;
    width: 50%vb;
  }
  #name{
    font-family: 'Times New Roman', Times, serif;
    font-size: 70px;
    text-decoration: bold;
    text-decoration: underline 2px;
    color: #020906;
  }
  #istpage{
/*    height: 100vh; */
    background: var(--gradient);
    
  }
#s1{
  font-size: 40px;
}
#contact{
  font-size: 20px;
}
li{
  list-style-type: none;
}
#research{
  display: block;
}
